# dt Hosts

Host	chaos		chaos.xr7.org chaos.d.xr7.org
	Hostname	chaos.d.xr7.org
	Port		977

Host	floyd		floyd.xr7.org
	Hostname	floyd.xr7.org

Host	rolf		rolf.xr7.org
	Hostname	rolf.xr7.org

Host	waldorf
	#Hostname	waldorf
	Hostname	192.168.5.13

Host	waldorf-p	waldorf.xr7.org
	Hostname	chaos.d.xr7.org
	Port		977
	HostKeyAlias	waldorf

Host	zoot		zoot.xr7.org
	Hostname	zoot.xr7.org

# RCB

Host	builder
	Hostname	50.56.12.204
	User		demo
